export AWS_DEFAULT_REGION=us-east-1
export AWS_ACCESS_KEY_ID=$(gpg -d akey.gpg 2>/dev/null)
export AWS_SECRET_ACCESS_KEY=$(gpg -d skey.gpg 2>/dev/null)

export FOO=foo


use_rguix(){
 echo "Bad idea ;-)"
#eval "$(guix time-machine -C channels.scm -- environment "$@" --search-paths)"
}

# use rguix --ad-hoc python python-pytorch awscli #icedtea clojure leiningen
